{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% trans "Activate your account" %}</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>
    <p>Thank you for registering. Please click the link below to activate your account:</p>
    <p><a href="{{ domain }}{% url 'poll:activate_account' uidb64=uid token=token %}">Activate your account</a></p>
    <p>If you did not register for an account, please ignore this email.</p>
    <p>Thanks!</p>
</body>
</html>

