{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Poll - Poll Pulse</title>
    <link rel="stylesheet" href="{% static 'poll/style1.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
            <h1>PollPulse</h1>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'poll:home' %}">Home</a></li>
            <li><a href="{% url 'poll:dashboard' %}">Dashboard</a></li>
            
            <li><a href="{% url 'poll:feedback' %}">Feedback</a></li>
            <li><a href="{% url 'poll:participate_poll' %}">Participate in Poll</a></li>
        </ul>
    </nav>
    
    <main>
        <section class="create-poll">
            <h2>Create a New Poll</h2>
            <form method="post" id="pollForm">
                {% csrf_token %}
                {{ poll_form.as_p }}

                <h3>Choices</h3>
                {{ formset.management_form }}
                <div id="formset-area">
                    {% for form in formset %}
                        <div class="choice" data-form-index="{{ forloop.counter0 }}">
                            {{ form.choice_text.label_tag }}
                            {{ form.choice_text }}
                            <button type="button" class="remove-choice" onclick="removeChoice(this)">Remove</button>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" id="add-choice">Add more choices</button>
                <button type="submit">Create Poll</button>
            </form>
        </section>
    </main>

    <script>
        document.getElementById('add-choice').addEventListener('click', function() {
            var formsetArea = document.getElementById('formset-area');
            var formCount = formsetArea.children.length;
            var totalForms = document.getElementById('id_form-TOTAL_FORMS');
            var formIndex = parseInt(totalForms.value);

            var newForm = formsetArea.children[0].cloneNode(true); // Clone the first form
            var inputs = newForm.querySelectorAll('input');
            
            inputs.forEach(function(input) {
                var newName = input.name.replace(/-(\d+)-/, '-' + formIndex + '-');
                var newId = input.id.replace(/-(\d+)-/, '-' + formIndex + '-');
                input.name = newName;
                input.id = newId;
                input.value = '';
            });

            newForm.querySelector('.remove-choice').style.display = 'inline-block'; // Show the remove button for new choice
            formsetArea.appendChild(newForm);

            totalForms.value = formIndex + 1;
        });

        function removeChoice(button) {
            var formsetArea = document.getElementById('formset-area');
            var formIndex = button.parentElement.getAttribute('data-form-index');
            button.parentElement.remove();
            
            var totalForms = document.getElementById('id_form-TOTAL_FORMS');
            var newTotal = parseInt(totalForms.value) - 1;
            totalForms.value = newTotal;
            
            // Update form indices
            formsetArea.querySelectorAll('.choice').forEach(function(div, index) {
                div.setAttribute('data-form-index', index);
                var inputs = div.querySelectorAll('input');
                inputs.forEach(function(input) {
                    input.name = input.name.replace(/-(\d+)-/, '-' + index + '-');
                    input.id = input.id.replace(/-(\d+)-/, '-' + index + '-');
                });
            });
        }
    </script>
</body>
</html>

