<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PollPulse Dashboard</title>

    <link rel="stylesheet" href="../../static/poll/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>PollPulse</h1>
        </div>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
                {% if user.is_authenticated %}
                {{ user.username }}
                {% else %}
                Account
                {% endif %}
                <i class="arrow down"></i>
            </button>
            <div id="dropdownContent" class="dropdown-content">
                {% if user.is_authenticated %}
                <p>Name: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>User ID: {{ user.id }}</p>
                {% else %}
                <p>Please login</p>
                {% endif %}
                <a href="{% url 'poll:logout' %}">Logout</a>
            </div>
        </div>
        {% if user.is_authenticated %}
        <a class="logout-button" href="{% url 'poll:logout' %}">Logout</a>
        {% endif %}
    </nav>
    <main class="dashboard">
        <div class="block" onclick="location.href='{% url 'poll:create_poll' %}'">
            <i class="fa fa-plus-circle"></i>
            <p>Create Poll</p>
        </div>
        {% comment %} <div class="block" onclick="location.href='{% url 'poll:manage_friends' %}'">
            <i class="fa fa-users"></i>
            <p>Manage Friends</p>
        </div> {% endcomment %}
        <div class="block" onclick="location.href='{% url 'poll:feedback' %}'">
            <i class="fa fa-comments"></i>
            <p>View Feedback</p>
        </div>
        <div class="block" onclick="location.href='{% url 'poll:participate_poll' %}'">
            <i class="fa fa-check-circle"></i>
            <p>Participate in Poll</p>
        </div>
    </main>
    <script>
        function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.classList.toggle("show");
        }


        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>

</html>
