<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet">
    <title>Poll Details - PollPulse</title>
    <style>
        /* Basic CSS styles */
        body {
            font-family: 'Nunito', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #2D283E;
            color: #333;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .logo h1 {
            font-size: 2rem;
            color: #fff;
        }

        .poll-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #D1D7E0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-bottom: 20px;
        }

        div {
            margin-bottom: 10px;
        }

        label {
            margin-left: 10px;
        }

        button {
            padding: 10px 20px;
            font-size: 1em;
            background-color: #802BB1;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #9e1dea;
        }

        .error {
            color: red;
            font-weight: bold;
        }

        /* Comment section styles */
        .comments-section {
            margin-top: 30px;
            padding: 15px;
            background-color: #B0BEC5;
            border-radius: 8px;
        }

        .comments-section h3 {
            margin-top: 0;
            color: #333;
        }

        .comment {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #ECEFF1;
            border-radius: 4px;
        }

        .comment p {
            margin: 0;
        }

        .comment-form textarea {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 1em;
        }

        .comment-form button {
            margin-top: 10px;
            background-color: #802BB1;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px 20px;
        }

        .comment-form button:hover {
            background-color: #9e1dea;
        }
    </style>
</head>

<body>
    <div class="logo">
        <h1>PollPulse</h1>
    </div>
    <div class="poll-container">
        <h1>{{ poll.question }}</h1>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'poll:vote' poll.id %}">
            {% csrf_token %}
            {% for choice in poll.choices.all %}
            <div>
                {% if poll.is_multiple_choice %}
                <input type="checkbox" name="choices" id="choice{{ choice.id }}" value="{{ choice.id }}">
                {% else %}
                <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}">
                {% endif %}
                <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label>
            </div>
            {% endfor %}
            <button type="submit">Vote</button>
        </form>

        
    </div>
</body>

</html>
