{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback - Poll Pulse</title>
    <link rel="stylesheet" href="{% static 'poll/feedback.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="logo">
            <h1>PollPulse</h1>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'poll:home' %}">Home</a></li>
            <li><a href="{% url 'poll:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'poll:create_poll' %}">Create Poll</a></li>
            <li><a href="{% url 'poll:participate_poll' %}">Participate in Poll</a></li>
        </ul>
    </nav>

    <!-- Main Feedback Section -->
    <main>
        <section class="feedback">
            <h2>My Polls and Feedback</h2>

            <!-- Check if there are polls -->
            {% if polls_with_choices %}
                <ul class="poll-list">
                    <!-- Loop through each poll and its choices -->
                    {% for poll_data in polls_with_choices %}
                        <li class="poll-item">
                            <h3 class="poll-question">{{ poll_data.poll.question }}</h3>
                            <p class="poll-date">Published on: {{ poll_data.poll.pub_date|localtime|date:"F j, Y, g:i a" }}</p>
                            {% if poll_data.poll.end_date %}
                                <p class="poll-end-date">Ends on: {{ poll_data.poll.end_date }}</p>
                            {% endif %}
                            
                            <h4>Options and Votes:</h4>
                            <ul class="options-list">
                                {% for choice in poll_data.choices %}
                                    <li>{{ choice.choice_text }} - {{ choice.votes }} votes</li>
                                {% empty %}
                                    <li>No options yet.</li>
                                {% endfor %}
                            </ul>

                            <!-- Display Comments for each poll -->
                            <h4>Comments:</h4>
                            <ul class="comment-list">
                                {% for comment in poll_data.poll.comments.all %}
                                    <li>
                                        <strong class="comment-author">{{ comment.user }}</strong>: 
                                        <span class="comment-text">{{ comment.comment_text }}</span>
                                        <span class="comment-date">({{ comment.created_at|date:"F j, Y, g:i a" }})</span>
                                        {% if comment.user == request.user or poll_data.poll.created_by == request.user %}
                                            <a href="{% url 'poll:delete_comment' comment.id %}" class="delete-comment">Delete</a>
                                        {% endif %}
                                    </li>
                                {% empty %}
                                    <li>No comments yet.</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls found.</p>
            {% endif %}
        </section>
    </main>
</body>
</html>

