{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PollPulse</title>
    <link rel="stylesheet" href="{% static 'poll/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap" rel="stylesheet">


    <head>

    <body>

        <nav>
            <div class="logo">
                <h1>PollPulse</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="{% url 'poll:register' %}">Register</a></li>
                <li><a href="{% url 'poll:login' %}">Login</a></li>
            </ul>
        </nav>


        <section id="home" class="welcome-section">
            <h2>Welcome to PollPulse</h2>
            <p>Your one-stop solution for creating and participating in polls.</p>
            <button onclick="document.getElementById('features').scrollIntoView({ behavior: 'smooth' });">Get
                Started</button>
        </section>


        <section id="features" class="features-section">
            {% comment %} <div class="feature-box">
                <h3>Manage Friends</h3>
                <p>Connect and manage your friends easily.</p>
            </div> {% endcomment %}
            <div class="feature-box">
                <h3>View Feedbacks</h3>
                <p>See what others are saying.</p>
            </div>
            <div class="feature-box">
                <h3>Create Poll</h3>
                <p>Create your own polls effortlessly.</p>
            </div>
            <div class="feature-box">
                <h3>Participate in Poll</h3>
                <p>Take part in polls and share your opinions.</p>
            </div>
        </section>

        <footer>
            <p>&copy; 2024 PollPulse. All rights reserved.</p>
        </footer>


    </body>

</html>