{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PollPulse - Login</title>
    <link rel="stylesheet" href="{% static 'poll/login_page.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="login-container">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        <h2>Login</h2>

        <form action="{% url 'poll:login' %}" method="post">
            {% csrf_token %}

            <!-- Username input field -->
            <div class="input-box">
                <input type="text" id="username" name="username" placeholder="Username" required>
                {% if loginform.username.errors %}
                <div class="errorlist">
                    {% for error in loginform.username.errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Password input field -->
            <div class="input-box">
                <input type="password" id="password" name="password" placeholder="Password" required>
                {% if loginform.password.errors %}
                <div class="errorlist">
                    {% for error in loginform.password.errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Non-field errors -->
            {% if loginform.non_field_errors %}
            <div class="errorlist">
                {% for error in loginform.non_field_errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a href="{% url 'poll:register' %}">Sign up</a></p>
            </div>
        </form>
    </div>
</body>

</html>