<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <title>Poll Participation - PollPulse</title>
    <style>
        /* Basic CSS styles */
        body {
            font-family: "Nunito";
            margin: 0;
            padding: 20px;
            background-color: #2D283E;
            color: #802BB1;
        }

        h1 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        .logo h2 {
            font-size: 2rem;
            color: #D1D7E0;
        }


        .poll-list {
            max-width: 800px;
            margin: 0 auto;
        }

        .poll-item {
            background-color: #D1D7E0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
        }

        .poll-header {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .poll-description {
            margin-bottom: 10px;
            color: #666;
        }

        .poll-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .poll-button {
            padding: 10px 20px;
            font-size: 1em;
            background-color: #802BB1;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .poll-button:hover {
            background-color: #880cd0;
        }

        .poll-button.report {
            background-color: #c22a3e;
        }

        .poll-button.report:hover {
            background-color: #880cd0;
        }

        .poll-button.disabled {
            background-color: #b074d3;
            cursor: not-allowed;
            pointer-events: none;
            /* Prevent clicking */
        }
    </style>
</head>

<body>
    <div class="logo">
        <h2>PollPulse</h2>
    </div>
    <h1>Available Polls</h1>
    <div class="poll-list">
        {% for poll in polls %}
        <div class="poll-item">
            <div class="poll-header">{{ poll.question }}</div>
            <div class="poll-description">
                Created by: {{ poll.created_by.username }} | Published on: {{ poll.pub_date|date:"M d, Y" }}
            </div>
            <div class="poll-actions">
                <div class="poll-status">
                    {% if poll.is_active %}
                    <span style="color: green;">Active</span>
                    {% else %}
                    <span style="color: red;">Closed</span>
                    {% endif %}
                </div>
                {% if poll.is_active %}
                {% if not poll.has_voted %}
                <a href="{% url 'poll:detail' poll.id %}" class="poll-button">Vote Now</a>
                {% else %}
                <a href="#" class="poll-button disabled">Already Voted</a>
                {% endif %}
                {% else %}
                <a href="{% url 'poll:results' poll.id %}" class="poll-button">View Results</a>
                {% endif %}
                <a href="{% url 'poll:report_poll' poll.id %}" class="poll-button report">Report</a>
            </div>
        </div>
        {% empty %}
        <p>No polls are currently available.</p>
        {% endfor %}
    </div>
</body>

</html>