{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap" rel="stylesheet">
    <title>PollPulse - Register</title>
    <link rel="stylesheet" href="{% static 'poll/register.css' %}">
</head>

<body>
    <main>
        <h1>Register</h1>
        {% if registerform.errors %}
        <div class="form-errors">
            {{ registerform.errors }}
        </div>
        {% endif %}
        <form action="{% url 'poll:register' %}" method="post" onsubmit="console.log('Form is being submitted');">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="password" id="password" name="password1" placeholder="Password" required>
            </div>
            <div class="input-box">
                <input type="password" id="confirm_password" name="password2" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
    </main>
</body>

</html>