{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <title>Report Poll - PollPulse</title>
    <style>
        /* Basic CSS styles */
        body {
            font-family: "Nunito";
            margin: 0;
            padding: 20px;
            background-color: #2D283E;
        }

        .logo h2 {
            font-size: 1.5rem;
            font-family: 'Nunito';
            color: white;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            background-color: #D1D7E0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            color: black;
        }

        h1 {
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        .form-group button {
            padding: 10px 20px;
            background-color: #802BB1;
            color: #D1D7E0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .form-group button:hover {
            background-color: #991ee0;
        }

        .btn {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #802BB1;
            color: #D1D7E0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;

        }

        .btn {
            background-color: #991ee0;
        }

        .btn-dashboard {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #802BB1;
            color: #D1D7E0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
        }

        .btn-dashboard:hover {
            background-color: #991ee0;
        }
    </style>
</head>

<body>
    <div class="logo">
        <h2>PollPulse</h2>
    </div>
    <div class="container">
        <h1>Report Poll: "{{ poll.question }}"</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Submit</button>
        </form>
        <a href="{% url 'poll:dashboard' %}" class="btn-dashboard">Dashboard</a>
    </div>
</body>

</html>