<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet">
    <title>Poll Results - PollPulse</title>
    <style>
        /* Basic CSS styles */
        body {
            font-family: "Nunito", sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #2D283E;
            color: #333;
        }

        .logo h1 {
            font-size: 1.5rem;
            font-family: 'Nunito';
            color: #D1D7E0;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .results-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #D1D7E0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .choice {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .choice:last-child {
            border-bottom: none;
        }

        .choice-text {
            flex-grow: 1;
        }

        .vote-count {
            font-weight: bold;
            margin-left: 10px;
        }

        .vote-bar {
            background-color: #4CAF50;
            height: 20px;
            border-radius: 5px;
            margin-top: 5px;
        }

        .results-actions {
            margin-top: 20px;
            text-align: center;
        }

        .results-button {
            padding: 10px 20px;
            font-size: 1em;
            color: white;
            background-color: #802BB1;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin: 0 10px;
        }

        .results-button:hover {
            background-color: #811fb9;
        }

        .results-button.secondary {
            background-color: #802BB1;
        }

        .results-button.secondary:hover {
            background-color: #811fb9;
        }

        .comment-section {
            margin-top: 30px;
            background-color: #F5F5F5;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .comment-form {
            margin-bottom: 20px;
        }

        .comment-form textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1em;
            box-sizing: border-box;
            resize: vertical;
        }

        .comment-list {
            margin-top: 20px;
        }

        .comment-list li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .comment-list li:last-child {
            border-bottom: none;
        }

        .delete-comment {
            color: red;
            cursor: pointer;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="logo">
        <h1>PollPulse</h1>
    </div>
    <div class="results-container">
        <h1>Result for: {{ poll.question }}</h1>
        <div>Total votes: {{ total_votes }}</div>
        {% for choice in choices %}
        <div class="choice">
            <div class="choice-text">{{ choice.choice_text }}</div>
            <div class="vote-count">{{ choice.votes }} votes</div>
        </div>
        <div class="vote-bar" style="width: {{ choice.percentage|floatformat:2 }}%;"></div>
        {% empty %}
        <p>No choices found for this poll.</p>
        {% endfor %}

        <div class="results-actions">
            <a href="{% url 'poll:dashboard' %}" class="results-button">Go to Dashboard</a>
            <a href="{% url 'poll:participate_poll' %}" class="results-button secondary">Participate in Another Poll</a>
        </div>
    </div>

    <!-- Comment Section -->
    <div class="comment-section">
        <h3>Comments:</h3>
        <ul class="comment-list">
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.user }}</strong>: {{ comment.comment_text }} ({{ comment.created_at|date:"F j, Y, g:i a" }})
                   
                </li>
            {% empty %}
                <li>No comments yet.</li>
            {% endfor %}
        </ul>

        <h3>Leave a Comment:</h3>
        <form method="post" class="comment-form">
            {% csrf_token %}
            <label for="id_comment_text">Comment:</label>
            {{ comment_form.comment_text }}
            <button type="submit" class = "results-button">Submit</button>
        </form>
    </div>
</body>

</html>
