/* General Styles */
body {
    background-color: #2D283E;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2D283E;
    color: #D1D7E0;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h1 {
    font-size: 1.5rem;
    font: 'Nunito';
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav .nav-links li {
    display: inline;
}

nav .nav-links li a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav .nav-links li a:hover {
    background-color: #495057;
}

main {
    padding: 1em;
}

.feedback {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #D1D7E0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feedback h2 {
    font-size: 2rem;
    color: #802BB1;
    margin-bottom: 1em;
    text-align: center;
}

.feedback .poll-list {
    list-style: none;
    padding: 0;
}

.feedback .poll-list li {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.feedback .poll-list li h3 {
    font-size: 1.5rem;
    color: #802BB1;
}

.feedback .poll-list li p {
    margin: 0.5em 0;
    color: #495057;
}

.feedback .poll-list li .response {
    font-size: 0.9rem;
    color: #6c757d;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}