* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.logo h1 {
    font-size: 1.5rem;
    font-family: 'Nunito';
    color: #D1D7E0;
}

main {
    width: 420px;
    max-width: 40%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    padding: 30px 40px;
    border-radius: 12px;
}


main h1 {
    font-size: 36px;
    text-align: center;
    color: #D1D7E0;
}

.form-errors {
    color: red;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid red;
    background-color: #fdd;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
    font-weight: 500;
}

main .input-box {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 30px 0;
    margin-bottom: 10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 20px;
}

main .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #8111c2;
}