/* General Styles */
body {
    background-color: #2D283E;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2D283E;
    color: #D1D7E0;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h1 {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav .nav-links li {
    display: inline;
}

nav .nav-links li a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav .nav-links li a:hover {
    background-color: #495057;
}

main {
    padding: 1em;
}

.feedback {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #D1D7E0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feedback h2 {
    font-size: 2rem;
    color: #802BB1;
    margin-bottom: 1em;
    text-align: center;
}

.feedback h3 {
    font-size: 1.5rem;
    color: #802BB1;
}

.feedback .feedback-form {
    margin-bottom: 1.5em;
}

.feedback .feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback .feedback-form button {
    margin-top: 0.5em;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #802BB1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.feedback .feedback-form button:hover {
    background-color: #811fb9;
}

/* Comments Section Styling */
.feedback .comment-section {
    margin-top: 2em;
    padding: 1em;
    background-color: #E9EAF4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feedback .comment-section h4 {
    font-size: 1.2rem;
    color: #802BB1;
    margin-bottom: 0.5em;
}

/* Comment List */
.feedback .comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feedback .comment-list li {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback .comment-list li p {
    margin: 0;
    color: #333;
}

.feedback .comment-list li .comment-author {
    font-weight: bold;
    color: #802BB1;
    margin-bottom: 0.5em;
}

.feedback .comment-list li .comment-date {
    font-size: 0.85rem;
    color: #888;
}

.feedback .comment-list li .delete-comment {
    color: #FF3333;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: underline;
    margin-left: 10px;
}

.feedback .comment-list li .delete-comment:hover {
    color: #FF0000;
}

.feedback .no-comments {
    text-align: center;
    color: #666;
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .feedback {
        padding: 1em;
    }

    .feedback h2 {
        font-size: 1.8rem;
    }

    .feedback h3 {
        font-size: 1.3rem;
    }

    .feedback .comment-section {
        padding: 1em;
    }

    .feedback .comment-list li {
        flex-direction: column;
        align-items: flex-start;
    }
}
