body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    background: url(bg2.png) no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: darkblue;
}

h1,
h2,
h3 {
    color: #802BB1;
    margin: 0;
    padding: 0;
}


nav {
    background: transparent;
    color: #802BB1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

}

nav .logo h1 {
    font-size: 1.5rem;
    font-family: 'Nunito';
    color: #D1D7E0;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav .nav-links li {
    display: inline;
}

nav .nav-links li a {
    color: #D1D7E0;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav .nav-links li a:hover {
    background-color: #802BB1;
}

.welcome-section {
    text-align: center;
    padding: 20px 20px 100px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-section h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.welcome-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #D1D7E0;
}

.welcome-section button {
    background-color: #802BB1;
    color: #2D283E;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.welcome-section button:hover {
    background-color: #D1D7E0;
}


.features-section {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-box h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.feature-box p {
    font-size: 1rem;
    color: #555;
}

.feature-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


footer {
    background-color: #f4f4f4;
    color: black;
    text-align: center;
    padding: 1rem 0;
}