* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('dash_image.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar .logo h1 {
    font-size: 1.5rem;
    font-family: 'Nunito';
    color: #D1D7E0;
}


.logout-button {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #ddd;
    color: black;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    z-index: 1001;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 14px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1002;
}

.profile-pic {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.arrow {
    margin-left: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1003;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content p,
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a {
    background-color: #f1f1f1;
    text-align: center;
}

.dropdown-content p:hover,
.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equal-width columns */
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    width: 80%;
    /* Constrains the width of the dashboard for centering */
    margin: 0 auto;
    /* Center the grid horizontally */
}

.block {
    background-color: #D1D7E0;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Make the blocks take full width of their grid cell */
    max-width: 250px;
    /* Set a maximum width for each block */
    height: 200px;
    /* Fixed height for uniformity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block:hover {
    background-color: #c5cbd6;
    transform: translateY(-5px);
}

.block i {
    font-size: 50px;
    color: #3b5998;
    margin-bottom: 10px;
}

.block p {
    margin: 0;
    font-size: 22px;
    color: #333;
}