* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Courier New', Courier, monospace;
}

body {
    background-color: #2D283E;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2D283E;
}

nav .logo h1 {
    font-size: 2rem;
    color: #D1D7E0;
    font-family: 'Nunito';
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav .nav-links li a {
    color: #D1D7E0;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav .nav-links li a:hover {
    color: #fff;
    background-color: #802BB1;
}

.logo h1 {
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #D1D7E0;
}

main {
    flex: 1;
    padding: 2em 1em;
    background-color: #2D283E;
}

.create-poll {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: #D1D7E0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-poll h2 {
    text-align: center;
    font-size: 2rem;
    color: #802BB1;
    margin-bottom: 1em;
}

.create-poll form {
    display: flex;
    flex-direction: column;
}

.create-poll label {
    margin-top: 1em;
    color: #555;
}

.create-poll input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-poll button {
    margin-top: 1.5em;
    padding: 0.5em 0.5em;
    background-color: #802BB1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-poll button:hover {
    background-color: #820dc6;
}

footer {
    background-color: #2D283E;
    text-align: center;
    padding: 1em;
    margin-top: auto;
}